#################################
# ASMR Project Specific GITIGNORE
#################################

.env

# Android/IntelliJ
#
build/
.gradle
local.properties
*.iml
android/.project
android/.settings/
android/app/.project
android/app/.classpath
android/app/.settings


######################
# Intellij
######################
.idea*
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
build/

######################
# Visual Studio Code
######################
.vscode/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################

######################
# Logs
######################
*.log*

######################
# Others
######################
*.*~
*~
.merge_file*
*.swp
*.swo
