#################################
# Dinr Project Specific GITIGNORE
#################################

.env

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

# XCode
ios/ASMR.xcworkspace/xcshareddata/
*.dSYM.zip

# Build assets
/android/app/src/main/assets

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.gradle
local.properties
*.iml
android/.project
android/.settings/
android/app/.project
android/app/.classpath
android/app/.settings


######################
# Intellij
######################
.idea*
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
build/

######################
# Visual Studio Code
######################
.vscode/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################

######################
# Logs
######################
*.log*

######################
# Others
######################
*.*~
*~
.merge_file*
*.swp
*.swo
